<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<title>CMS-Screens</title>
</head>
<body>

<div class="blc-main-container">

<div class="blc-signin-container">
	
    <div class="blc-signin-top">
    	<h1><img src="images/blc_signin.png" /> Banckle Live Chat - Settings</h1>
        <div class="blc-signin-top-right"><a href="#">Dashboard</a> | <a href="#">Settings</a></div>
    </div>
    

    
    <div class="blc-signin-content">
    
    <p>Banckle live chat plugin has been successfully installed into your Dolphin.</p>
    
    <div class="seprator" style="margin-left:-10px;">&nbsp;</div>
    
    <h2>Username</h2>
    <input type="text" value="Type your username here" />
    
    <h2>Password</h2>
    <input type="password" value="Type your password here" />
    
     
    </div>
    
	
    
   
    
    <div class="blc-signin-bottom-left"><a href="#" class="btn-signin">Sign In</a></div>
   
    
  
    
    <div class="seprator">&nbsp;</div>
    
    <div class="blc-signin-signup-area">Don't have a Banckle account? <a href="#">Sign Up</a> now</div>
   
    <div class="clear1">&nbsp;</div>
    
</div>


<div class="clear1">&nbsp;</div> <!--The clear div is only for spacing between two containers for normal view -->



<div class="blc-signin-container">
	
    <div class="blc-signin-top">
    	<h1><img src="images/blc_signin.png" /> Banckle Live Chat - Settings</h1>
        <div class="blc-signin-top-right"><a href="#">Dashboard</a> | <a href="#">Settings</a></div>
    </div>
    

    
    <div class="blc-signin-content">
    
    <p>Banckle live chat plugin has been successfully installed into your Dolphin.</p>
    
    <div class="seprator" style="margin-left:-10px;">&nbsp;</div>
    
    <h2>Banckle Login ID</h2>
    <input type="text" value="Type your login id here" />
    
    <h2>Password</h2>
    <input type="password" value="Type your password here" />
    
    <h2>Email</h2>
    <input type="text" value="Type your email address here" />
    
     
    </div>
    
	
    
   
    
    <div class="blc-signin-bottom-left"><a href="#" class="btn-signin">Register</a></div>
    
  
    
    <div class="seprator">&nbsp;</div>
   
   
</div>
<!--SignIn Screen Completed-->

<div class="clear1">&nbsp;</div> <!--The clear div is only for spacing between two containers for normal view -->



<div class="blc-signin-container">
	
    <div class="blc-signin-top">
    	<h1><img src="images/blc_signin.png" /> Banckle Live Chat - Settings</h1>
        <div class="blc-signin-top-right"><a href="#">Dashboard</a> | <a href="#">Settings</a></div>
    </div>
    
    <div class="blc-deployement-area">
    
   	  <h1>Deployment</h1>
        
        <div class="clear1">&nbsp;</div>
    
    	<h2>Deployement</h2>
   	    <input type="text" value="New Deployement" />
    
        <h2>Title</h2>
      <input type="text" value="Live Chat" />	
        
        <h2>Copyright Text</h2>
   	    <input type="text" value="Copyright is reserved by Banckle." />
        
        <div class="seprator" style="margin-left:-10px">&nbsp;</div>
        
        <h1>Messages</h1>
        
        <div class="clear1">&nbsp;</div>
    
    	<h2>Invite</h2>
   	    <textarea cols="" rows="">Do you have any questions?</textarea>
    
        <h2>Online</h2>
        <textarea cols="" rows="">Welcome to Banckle</textarea>	
        
        <h2>Offline</h2>
   	    <textarea cols="" rows="">Sorry, our service is unavailable now.</textarea>
        
        <h2>Waiting</h2>
   	    <textarea cols="" rows="">Please stand by while we connect you to the next available operator...</textarea>
        
        <h2>Exit</h2>
   	    <textarea cols="" rows="">Thank you for choosing Banckle.</textarea>
        
        <h2>Department</h2>
   	    <textarea cols="" rows="">Test Department.</textarea>
        
        <div class="seprator" style="margin-left:-10px">&nbsp;</div>
        
        <h1>Appearance</h1>
        
        <div class="clear1">&nbsp;</div>
    
    	<h2>Position</h2>
   	    <select>
        <option>Widget</option>
        <option>Widget</option>
        <option>Widget</option>
        </select>
        
        <div class="clear1">&nbsp;</div>
        
         <div class="blc-signin-bottom-left" style="margin-left:0px"><a href="#" class="btn-signin">Create Deployment</a></div>
        
        <div class="seprator" style="margin-left:-10px">&nbsp;</div>
        
        <div>Banckle Live Chat has been successfully installed into your dolphin</div>
        
       
    

    
  </div>
    

    
    
    
	
    
   
    
    
   
    
  
    
    
    
    
   
    
    
</div>
<!--Deployment Screen Completed-->

<div class="clear1">&nbsp;</div> <!--The clear div is only for spacing between two containers for normal view -->




<div class="blc-signin-container">
	
    <div class="blc-signin-top">
    	<h1><img src="images/blc_signin.png" /> Banckle Live Chat - Settings</h1>
        <div class="blc-signin-top-right"><a href="#">Dashboard</a> | <a href="#">Settings</a></div>
    </div>
    

    
    <div class="blc-signin-content">
    
    <p>Banckle live chat plugin has been successfully installed into your Dolphin.</p>
    
    <div class="seprator" style="margin-left:-10px;">&nbsp;</div>
    
    <p>Your Banckle Account has been created successfully.</p>
    
    <h2>Department</h2>
    <input type="text" value="Type your text here" />
    </div>
        
    <div class="blc-signin-bottom-left"><a href="#" class="btn-signin">Create Department</a></div>
   
    
  
    
    <div class="seprator">&nbsp;</div>
    
   
</div>
<!--Department Screen Completed-->

<div class="clear1">&nbsp;</div> <!--The clear div is only for spacing between two containers for normal view -->



<div class="blc-signin-container">
	
    <div class="blc-signin-top">
    	<h1><img src="images/blc_signin.png" /> Banckle Live Chat - Settings</h1>
        <div class="blc-signin-top-right"><a href="#">Dashboard</a> | <a href="#">Settings</a></div>
    </div>
    

    
    <div class="blc-signin-content">
    
    <p>Banckle live chat plugin has been successfully installed into your Dolphin.</p>
    
    <div class="seprator" style="margin-left:-10px;">&nbsp;</div>
    
    <p>Congratulations! Banckle Live Chat Deployment Widget is successfully created.</p>
    
    </div>
        
    <div class="blc-signin-bottom-left"><a href="#" class="btn-signin">Activate Live Chat</a></div>
   
    
  
    
    <div class="seprator">&nbsp;</div>
    
   
</div>
<!--Deployment Screen Completed-->

<div class="clear1">&nbsp;</div>

</div>

</body>
</html>
